html
  head
    block head
      meta(charset='utf-8')
      meta(name='robots', content='noindex, nofollow')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon', href='https://www.savaslabs.com/themes/custom/savaslabs/favicon.ico', type='image/vnd.microsoft.icon')
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/styles.css')
      script(type='text/javascript', src='/js/jquery.js')
      script(type='text/javascript', src='/js/app.js')
  body
    block body
