body,
h1, h2, h3, h4, h5, h6,
p, li, td, dt, dd {
  color: #221C35;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  position: relative;
  max-width: 800px;
  padding: 1rem;
  margin: 2rem auto;
}

label,
button {
  margin: 1rem;
}

label,
label span,
label input {
  display: block;
}

ol {
  margin: 2rem 0;
}

li {
  margin: 1em 0;
}

code {
  background: #eee;
  padding: 0 0.25em;
  border-radius: 3px;
  border: 1px solid #ccc;
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.3em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
  font-size: 0.9em;
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	text-shadow: 0 1px 0 #fff;
}
